.skills-frameworks {
  background-color: #D4E7C5;
  padding: 20px;
  border-radius: 12px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  width: fit-content;
  max-width: 100%;
  margin: 20px auto;
  font-family: 'Segoe UI', sans-serif;
}
.skills-frameworks:hover{
    box-shadow: 0 2px 10px rgba(50, 50, 50, 0.1);
}

.skill-frameworks-header {
  font-size: 20px;
  font-weight: 600;
  color: #1A4D2E;
  margin-bottom: 12px;
  border-left: 4px solid #537D5D;
  padding-left: 10px;
}

.skills-item {
  background-color: #E1F0DA;
  color: #537D5D;
  padding: 8px 12px;
  margin: 6px 0;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.skills-item:hover {
  background-color: #F2F1EB;
  cursor: pointer;
}
