.my-name-profile {
  margin-top: 20px;
  align-items: center;
  font-weight: bolder;
  font-size: clamp(30px, 2vw, 40px);
  text-align: start;
  padding: 20px;
  padding-left: 10%;
  color: #1A4D2E;
  /* background-color: rgb(148, 148, 203); */
}
.profile-roles{
    display:flex;
    flex-wrap: wrap;
    font-size: clamp(10px, 12px, 16px);
}